.container {
  max-width: 90%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}


body {
  background: firebrick;
  color: #fff;
  font-family: system-ui, sans-serif;

}

.item {
  display: flex;
  flex-wrap: nowrap;
  margin: 1em auto;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}
